{% extends "header/header.html" %}

{%block title %}書籍削除{% endblock %}

{% block content %}

       {% for item in object_list %}
       
              <ul class="list">
                     <li>タイトル：{{item.title}}</li>
                     <!-- <li>{{item.text}}</li> -->
                     <li>カテゴリー：{{item.category}}</li>
                     <a href="{% url 'detail-book' item.pk %}" class="btn btn-primary">詳細へ</a>
              </ul>
       
       
       {% endfor %}

{% endblock content %}
