.list {
    list-style: none;
    padding: 2em 4em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    /* display: flex;
    justify-content: space-between; */
}

body {
    background-color: rgb(238, 231, 231);
}

.item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-wrap {
    display: flex;
    justify-content: space-between;
    
}
.create-button {
    color: #fff;
  background-color: #eb6100;
  padding: 1rem;
  margin-right: 1rem;
}